.App {
  text-align: center;
  background-color: #fdf0e9;
  height: 100vh;
  margin: 0px;
}
h1 {
  margin: 0;
  color: #391400;
}
.title {
  padding: 50px;
  font-size: 50px;
}
.title1 {
  display: flex;
}
.title2 {
  display: flex;
}

.POKKU {
  color: #ef6d58;
}
